html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
    /* font-family: 'Roboto',Verdana, Geneva, Tahoma, sans-serif !important */
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.modal-dialog {
    max-width: 50%;
    margin: 1.75rem auto;
}

.modal-body{
    padding: 4%;
}

p{
    text-align: justify;
}

.developers{
    /* display: flex;
    align-items: flex-end; */
    /* margin-left: 55%; */
    text-align: end;
    font-style: italic;
}

/* body{
    display: flex;
    flex-direction: row;
} */

#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#sidebar{
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#head{
    height: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px darkgray;
}

.Basemaps{
    width: 100%;
    height: 23vh;
    border-bottom: solid 1px darkgray;
}

.Layerlist{
    width: 100%;
    height: 50vh;
}

#head img{
    max-height: 80%;
}

.modal-header img{
    max-height: 7vh;
}
.modal-header{
    align-items: center
}


.modal-header h3{
    font-size: 1.4rem;
}

#head h3{
    margin: auto;
    padding: 0px;
    flex-grow: 1;
    font-size: 1.0rem;
    font-family: 'Anton', sans-serif;
}

#basemapdiv{
    height: 18vh;
}

#layerlistdiv{
    height: 45vh
}

.esri-editor .esri-item-list__scroller {
    max-height: 350px;
}


#left-widgets{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

#search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 90%;
    font-size: 13px;
    padding: 6px 10px 6px 10px;
    margin: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 20px;
    font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.esri-layer-list__item[aria-selected=true]>.esri-layer-list__item-container {
    border-left-color: #375241;
}

.esri-layer-list__item:hover {
    background-color: #f3f3f3;
}

#left-widgets .esri-widget{
    border-radius: 30%;
}

.esri-widget--button{
    /* background-color:#C1D2DA; */
    color: #375241;
    border-radius: 30%;
}

.esri-widget--button:hover{
    background-color:#375241;
    color: #C1D2DA
}

h2, h3, h4,h5{
    color:#43545B;
    margin:5px;

}

h5{
    font-size: 1.3rem;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
}

.esri-ui .esri-component {
    pointer-events: auto;
    border-radius: 10px;
}
.esri-editor__header h4{
    font-size: 1.3rem;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
}

.esri-ui-corner .esri-component {
    box-shadow:none
}

.esri-item-list__list-item-label{
    font-size: 0.8rem;
    font-weight: bold;
}

.esri-layer-list {
    color: #323232;
    background-color: white;
    padding: 6px 7px;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
}

.esri-widget{
    border-radius: 5%;
}
.esri-ui-bottom-left  .esri-component {
    pointer-events: auto;
    border-radius: 30%;
}

/* #modalimages img{
    max-width: 10%;
     
} */

#modalimages{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.support-button {
    border-radius: 19px;
    border: #bfc3c7 solid 2px;
    display: flex;
    flex-direction: row;
    margin: 3px;
    padding: 2px;
    width: 5rem;
}

.like {
    background-color: #2883de;
    border: 2px #2883de solid;
    color: white;
    border-radius: 47px;
    width: 3rem;
}

.like:disabled{
    background-color: #bfc3c7;
    border: 2px #bfc3c7 solid;
    color: white;
    border-radius: 47px;
    width: 3rem;
}

#number_likes {
    margin: 10px;
    font-weight: bold;
    color: #4c4f52;
}


.esri-widget__table tr th {
    font-weight: bold;
}

#legend{
    height: 0vh;
}

@media (max-width: 600px)
{

    #sidebar{
        width: 100vw;
        /* height: 0vh; */
    }

    .Layerlist {
        width: 100%;
        height: 45vh;
    }

    #navbar_mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px;

    }

    body{
        flex-direction: column;
    
    }

    #navbar_mobile button{
        border-radius: 75px;
        margin: 0px 20px;
        background-color: transparent;
        border: 2px solid;
        /* padding: 5px; */
        font-weight: bold;
    }

    .buttons_nav{
        display: flex;
        flex-direction: column;
    }

    #legend{
        height: 80vh;
    }

    #layerlistdiv{
        height: 25vh
    }
    

}
