html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto',Verdana, Geneva, Tahoma, sans-serif !important
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

}

/* body{
    display: flex;
    flex-direction: row;
} */

#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#sidebar{
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#head{
    height: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Basemaps{
    width: 100%;
    height: 22vh;
}

.Layerlist{
    width: 100%;
    height: 50vh;
}

#head img{
    max-height: 80%;
}

#head h3{
    margin: 0px;
    padding: 0px;
    flex-grow: 1;
}

#basemapdiv{
    height: 18vh;
}

#layerlistdiv{
    height: 45vh
}

.esri-editor .esri-item-list__scroller {
    max-height: 350px;
}


#left-widgets{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

#search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#myInput {
    /* background-image: 'esri-icon-search'; */
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 70%;
    /* font-size: 16px; */
    padding: 6px 10px 6px 10px;
    margin:6px;
    border: 1px solid #ddd;
    border-radius: 10px;
   
  }



#left-widgets .esri-widget{
    border-radius: 30%;
}

.esri-widget--button{
    /* background-color:#C1D2DA; */
    color: #375241;
    border-radius: 30%;
}

.esri-widget--button:hover{
    background-color:#375241;
    color: #C1D2DA
}

h2, h3, h4,h5{
    color:#43545B;
    margin:5px
}

.esri-widget{
    border-radius: 5%;
}
.esri-ui-bottom-left  .esri-component {
    pointer-events: auto;
    border-radius: 30%;
}

#modalimages img{
    max-width: 10%;
}

.support-button {
    border-radius: 19px;
    border: #bfc3c7 solid 2px;
    display: flex;
    flex-direction: row;
    margin: 3px;
    padding: 2px;
    width: 5rem;
}

.like {
    background-color: #2883de;
    border: 2px #2883de solid;
    color: white;
    border-radius: 47px;
    width: 3rem;
}

.like:disabled{
    background-color: #bfc3c7;
    border: 2px #bfc3c7 solid;
    color: white;
    border-radius: 47px;
    width: 3rem;
}

#number_likes {
    margin: 10px;
    font-weight: bold;
    color: #4c4f52;
}


.esri-widget__table tr th {
    font-weight: bold;
}

#legend{
    height: 0vh;
}

@media (max-width: 600px)
{

    #sidebar{
        width: 100vw;
        /* height: 0vh; */
    }

    .Layerlist {
        width: 100%;
        height: 45vh;
    }

    #navbar_mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px;

    }

    body{
        flex-direction: column;
    
    }

    #navbar_mobile button{
        border-radius: 75px;
        margin: 0px 20px;
        background-color: transparent;
        border: 2px solid;
        /* padding: 5px; */
        font-weight: bold;
    }

    .buttons_nav{
        display: flex;
        flex-direction: column;
    }

    #legend{
        height: 80vh;
    }

    #layerlistdiv{
        height: 25vh
    }
    

}